.formItem {
    display: flex;
    margin-left: 6rem
}

.title {
    align-self: center;
    font-size: 2rem;
    margin-right:1rem;
    composes: header__title from './Header.module.css';
    
}

.radioButton {
    display: none;
}

.radioImg {
    padding: 1rem;
}